@import 'src/styles/vars';

.checkout-page{
    max-width:800px;
    padding: 16px;
}
.cart-page{
  max-width:800px;
  padding: 16px;
}
.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  .example-form {
    // min-width: 350px;
    // max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .product-home{
    padding: 26px;
  }
  .example-card {
    max-width: 200px;
    position: relative;
  
    height: 100%;
    margin-right: $size-l;
    margin-bottom: $size-l;
  }
  .card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image-product{
    height:200px;
    width:225px;
  }

.shopping-cart{
   position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 10;
}
.shopping-cart-icon{
  zoom:2;
}

mat-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
.background-shadow{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  
}

  